@{
    ViewData["Title"] = "Home Page"; 
}
<script type="text/javascript" src="~/js/homepage.js"></script>
<div class="jumbotron">
    <div class="mobile-background"></div>
    <div class="black-cover"></div>
    <video id="background-video" autoplay="" muted="" loop="" playsinline="" preload="none" data-src="/images/Richmond-drone-video.mp4"></video>
    <div class="container main-banner-container">
        <h1 class="display-4">Tenant Lead Scheduling Software</h1>
        <p class="lead">Beautiful software with call center and electronic lockboxes at a predictable, affordable price.</p>

        <a class="btn btn-primary btn-lg btn-transform btn-padding-boost" href="#" role="button">Learn more</a>
    </div>
</div>
    <div class="container">
    <div class="container">
        <div class="row align-items-center three-homepage-blocks">
            <div class="col-md-4 one-homepage-block fade-in-section">
                <h2 id="three-homepage-blocks-h2">Big-Time Tech With a Personal Touch.</h2>
            </div>
            <div class="col-md-4 text-center one-homepage-block fade-in-section"> 
                <a href="/benefits"><img src="/images/connections.jpg" alt="" class="img-fluid"></a>
                <h3 class="h3-homepage"><a href="/benefits">Learn the Benefits</a></h3>
            </div>
            <div class="col-md-4 text-center one-homepage-block fade-in-section">
                <a href="/how-it-works"><img src="/images/phone-image.jpg" alt="" class="img-fluid"></a>
                <h3 class="h3-homepage"><a href="/how-it-works">How it Works</a></h3>
            </div>
        </div>
        <div class="text-center lead-in-div container fade-in-section">
            <blockquote id="lead-in">Our robust web-based lead management software works for you 24/7/365, whether you have a dozen rentals or thousands. And it's backed by passionate customer support that's only a click away.</blockquote>
            <button class="btn btn-secondary btn-lg btn-transform btn-padding-boost">Lets Talk</button>
        </div>
    </div> @* end of container for top main content*@
</div> @* end of main container div*@
<div class="logo-background">
    <div class="container text-center"> @*entering back into main container div*@
        <div class="logos-banner">
            <h2 class="fade-in-section">Trusted by property managers across the country.</h2>
            <div id="marquee fade-in-section">
                <div class="marquee_track">
                    <ul class="list-inline">
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-dodson-property-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-real-property-management-professionals.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-ew-capital.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-rp-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-napier-era.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-mission-realty.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-title-one-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-remax-allegiance.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-compass-property-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-robert-c-white.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-pmi.png" class="d-block w-100" alt="..."></li>
                    </ul>
                    <ul class="list-inline">
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-dodson-property-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-real-property-management-professionals.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-ew-capital.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-rp-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-napier-era.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-mission-realty.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-title-one-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-remax-allegiance.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-compass-property-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-robert-c-white.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-pmi.png" class="d-block w-100" alt="..."></li>
                    </ul>
                    <ul class="list-inline">
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-dodson-property-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-real-property-management-professionals.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-ew-capital.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-rp-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-napier-era.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-mission-realty.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-title-one-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-remax-allegiance.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-compass-property-management.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-robert-c-white.png" class="d-block w-100" alt="..."></li>
                        <li><img src="https://tenantturner.com/assets/img/customer-logos/logo-pmi.png" class="d-block w-100" alt="..."></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> @* end of main container div*@
</div> 
<div class="container"> @*entering back into main container div*@
    @* three headers next to scrolling images section *@
    <div class="support-and-training">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="container">
                    <div class="image-controller image-controller-focused" id="image-controller-1">
                        <h3>On-the-spot Training and Support</h3>
                        <p>Training for you and your team, available by chat, email, phone, and help center knowledge base.</p>
                        </div>
                    <br>
                    <div class="image-controller" id="image-controller-2">
                        <h3>All leasing activites organized in one place</h3>
                        <p>Centralize all leads, and know where your leasing stands at all times with our powerful reporting.</p>
                        </div>
                    <br>
                    <div class="image-controller" id="image-controller-3">
                        <h3>Automation frees you up while never losing a lead</h3>
                        <p>Automatically follow up, schedule, confirm, cancel, and collect feedback for every viewing.</p>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-7 banner-pictures">
                <img class="Scrolling-Images" id="Image1" src="/images/celebrate-support.jpg" alt="">
                <img class="Scrolling-Images" id="Image2" src="/images/houses.jpg" alt="">
                <img class="Scrolling-Images" id="Image3" src="/images/house_with_key.jpg" alt="">
            </div>
        </div>
    </div>  
    @* end of support and training div *@
</div> @* end of main container div*@
<hr class="hr-homepage">
<div class="container"> @*starting up main container div again*@
    <div class="container lets-get-started-container">
        <div class="text-center">
            <h2 class="fade-in-section">Lets Get Started!</h2>
            <button class="fade-in-section btn btn-primary btn-lg btn-transform button-spacing btn-padding-boost" href="#">Sign Up</button>
            <button class="fade-in-section btn btn-secondary btn-lg btn-transform button-spacing btn-padding-boost">Lets Talk</button>
            <p>or call <a href="tel:+1-888-976-4638">1-888-976-4638</a> for our sales team</p>
        </div>
    </div>
</div>



















        @* marquee function - it works but you shouldn't use marquee anymore so testing alternatives! 
        <marquee>
            <div class="marquee_track">
                <div class="marquee-logo">
                    <img src="https://tenantturner.com/assets/img/customer-logos/logo-dodson-property-management.png" class="d-block w-100" alt="...">
                </div>
                <div class="marquee-logo">
                    <img src="https://tenantturner.com/assets/img/customer-logos/logo-real-property-management-professionals.png" class="d-block w-100" alt="...">
                </div>
                <div class="marquee-logo">
                    <img src="https://tenantturner.com/assets/img/customer-logos/logo-ew-capital.png" class="d-block w-100" alt="...">
                </div>
                <div class="marquee-logo">
                    <img src="https://tenantturner.com/assets/img/customer-logos/logo-rp-management.png" class="d-block w-100" alt="...">
                </div>
                <div class="marquee-logo">
                    <img src="https://tenantturner.com/assets/img/customer-logos/logo-napier-era.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </marquee> 
        *@
        