
.navbar{
  margin-bottom: 0px !important;
}
/* navbar customization for homepage fading feature. Some of these classes are added/removed via jquery function on homepage.js */
.nav-on-homepage .navbar{
  margin-bottom: 0px !important;
  transition:top 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.nav-scrolled {
  background-color: white;
  color: black !important;
  box-shadow:0 0 10px black;
}
.nav-on-homepage .navbar-nav .nav-link,
.nav-on-homepage .navbar-nav .active>.nav-link,
.nav-text-color{
  color: white;
}
.hidden{
  display: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  margin-right: 2rem;
}
/* changing logo size */
.navbar-brand img{
  height: 44px;
}
.nav-link{
  margin-bottom: 2px;
}
/* underline text when hovered & clicked */
.nav-link:hover,
.nav-link:active,
.nav-link:focus{
  margin-bottom:0px;
  border-bottom: 2px solid;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
.btn-padding-boost{
  padding: .75rem 1.5rem;
}
.btn-primary {
  color: #fff;
  background-color: #f78700 !important;
  border-color: #f78700 !important;
}
.btn-transform:hover{
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
  background-color: #f99419 !important;
  border-color: #f99419 !important;
}
.btn-secondary{
  color: #fff;
  background-color: #0977ad;
  border-color: #0977ad;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
  color: #fff;
  background-color: #045882;
  border-color: #045882;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* adjusting main container encapsulating the remaining html per page */
.full-page-container{
  margin-top: 8rem;
  margin-bottom: 5rem;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h1{
  font-weight:600;
}
h2{
  font-weight:600;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  background-color: #f0f9fe;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding:20px 0px;
}
#footer-list{
  margin: 0px;
  list-style: none;
  padding-inline-start:0px;
}
#footer-list li{
  display:inline;
  margin:0 10px;
}
.table{
  display: table;   /* Allow the centering to work */
	margin: 10px auto 30px auto;
}


/* ----------------- HOME PAGE ---------------------*/

/* feature for homepage to fade in items as you scroll down */
.fade-in-section {
  opacity: 0;
}
.jumbotron{
  height: 95vh;
  width: 100vw;
  background-color: black;
  background: url("/images/video-background-image.png") center center;
  background-size: cover;
  position:relative;
  padding: 13rem 2rem 2rem 2rem;
}
.mobile-background{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: url("/images/richmond-building.jpg") center center;
  background-size: cover;
  display: none;
}
.black-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: #3c3b3b;
  opacity: 0.6;
}
#background-video{
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
top:0;
left:0;
overflow:hidden;
z-index:0;
}
/* if on mobile, by checking width, and width again if rotated horizontally. This effects the homepage.js function watching this */
@media(max-width: 641px), (orientation: landscape) and (max-width:850px){
  #background-video{
    display:none;
  }
  .mobile-background{
    display:block;
  }
}

.jumbotron h1,
.jumbotron p{
  color: white
}
.main-banner-container{
  position: relative;
  z-index: 1;
  padding-right: 20%;
}
@media(max-width:600px){
  .main-banner-container{
    padding-right: 0;
  }
}
.main-banner-container h1{
  font-weight: 700;
}
.main-banner-container .lead{
  padding-right: 20%;
}
.three-homepage-blocks{
  margin-top: 8rem;
  margin-bottom: 2rem;
}
#three-homepage-blocks-h2{
  font-weight: 700;
  font-size: 3rem;
}
.one-homepage-block{
  margin-bottom: 1rem;
}
.h3-homepage{
  margin-top: 10px;
  font-weight: 600;
}
.h3-homepage a{
  text-decoration: none;
  color:inherit;
  transition: color .2s ease-in-out;
}
.h3-homepage a:hover{
  color: #f78700;
}
.lead-in-div{
  padding: 25px 10%;
}
/* #lead-in{
  font-size: x-large;
  margin-bottom:2rem;
  font-style: italic;
} */
blockquote {
  font-family: Georgia, serif;
  font-size: 20px;
  font-style: italic;
  margin: 1.25em 0;
  padding: 0.35em 55px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }
  
  blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 150px;
  position: absolute;
  left: -25px;
  top: -50px;
  color: #7a7a7a;
  }
  blockquote:after {
    display: block;
    padding-left: 10px;
    content: "\201D";
    font-size: 150px;
    position: absolute;
    right: 25px;
    bottom: -150px;
    color: #7a7a7a;
    }

@media(max-width:768px){
  .lead-in-div{
    padding:0;
  }
}

.hr-homepage{
  margin-top:5rem;
}
.logo-background{
  background-color: #f7f7fa;
  padding: 10px;
  margin:3rem 0 5rem;
  padding: 5rem 0;
}
/* marquee - logos scrolling on homepage */

.logos-banner h2{
  margin-bottom: 40px;
}
#marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  padding: 30px 0;
}
#marquee:before,
#marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}
.marquee_track {
  width: fit-content;
  display: flex;
  line-height: 30px;
  animation: marquee 50s linear infinite forwards;
}
.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-inline img{
  width: auto!important;
  height: 50px!important;
  /* max-width: none; */
  padding-left: 3rem;
  padding-right: 3rem;
  filter: grayscale(100%);
  opacity: .5;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}
/* end of marquee logo scrolling section/feature */

.banner-pictures{
  padding: 0;
}
.banner-pictures img{
  width: inherit;
}
#Image2{
  display: none;
}
#Image3{
  display: none;
}
.image-controller{
  margin-left: 8px;
  padding: 10px;
}
.image-controller-focused{
  margin-left: 0px;
  border-left: 8px solid #0977ad;
}
.support-and-training .container{
  padding-right:5rem;
}
@media(max-width: 600px){
  .support-and-training .container{
    padding-right: 2rem;
  }
}
.lets-get-started-container{
  margin: 4rem 0;
}
.button-spacing{
  margin: 10px 5px;
}

/* ---------------------END OF HOMEPAGE--------------------- */

/* ---------------------PAGE LISTING ALL THE HOUSES - route: "/rentals"--------------------- */

/* shadowing over card boxes */
.box-shadowing{
  box-shadow: 2px 2px 8px #cccccc;
}
/* adding padding below cards */
.house-listing-card{
  margin-bottom:2rem;
  margin-top:3rem;
}
/* modal section for individual rentals selected*/
.modal-dialog{
  max-width: 60vw;
}
.rental-header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
h5{
  font-size: 1.15rem;
}
.paragraph-title{
  margin-bottom:0px;
}
.strong-heading{
  font-size:16px;
}
/* end of modal section */

/* ---------------------END OF PAGE LISTING ALL THE HOUSES--------------------- */

/* ---------------------ABOUT US PAGE - route: "/about"--------------------- */
.about-description{
  padding-top:2rem;
}
.about-row-spacing{
  margin-top:4rem;
}
.Bios{
  display: none;
}
.Mobile-Bios{
  display:none;
}
#Person-1{
  display: block;
}
.Pic-half-opacity{
  opacity: .4;
}
.Pic-half-opacity:hover{
  cursor: pointer;
  opacity: 1;
}
.employee-pic{
  border: none;
}
.employee-pic-col{
  padding:45px;
}

/* ---------------------END OF ABOUT US PAGE --------------------- */

/* ---------------------ACCOUNT PAGE TO LOGIN OR REGISTER - route: "/account"--------------------- */
.account-background-color{
  background-color: #eaeaea;
  padding:30px;
}
/* ---------------------END OF ACCOUNT PAGE --------------------- */